[submodule "pimp-my-box"]
	path = docs/pimp-my-box
	url = https://github.com/pyroscope/pimp-my-box.git
[submodule "rtorrent-ps"]
	path = docs/rtorrent-ps
	url = https://github.com/pyroscope/rtorrent-ps.git
